.flex{
    display: flex;  
}
.justify-center{
     justify-content: center;
}
.space-between{
     justify-content: space-between;
}
.item-center{
    align-items: center;
}
.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bolder;
}
.mx-2{
margin-left: 12px;
margin-right: 12px;
}
